body {
  margin: 0%;
}

header {
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: rgb(148, 148, 238);
}

nav {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100vw;
}

.navbar {
  display: flex;
  list-style: none;
  margin-right: auto;
  color: white;
  gap: 10px;
  margin-left: 15px;
}

.rightnav {
  display: flex;
  margin-left: auto;
}

.login {
  color: white;
  gap: 10px;
  margin-left: auto;
  padding-right: 55px;
}

a {
  color: white;
  font-size: 1em;
}
