main {
  display: flex;
  padding: 0.25rem;
  padding-right: 0.5rem;
  background-color: aliceblue;
  margin-right: 1.9rem;
  margin-left: 1.9rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.25rem;
  margin-right: 10px;
  list-style: none;
  margin-top: 0px;
}

ul.side {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 220px;
  margin-left: 10px;
  align-content: center;
}

.sidebar {
  background-color: rgb(135, 135, 255);
  color: white;
  margin-bottom: 5px;
  padding: 0.5rem;
  font-size: large;
}
